.row{
    margin-bottom: 0px;
}

.ghibli{
    background-color: #888888;
    height: 100vh;
    white-space: nowrap;
}

.ghibli > span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.ghibli > img {
    display: inline-block;
    vertical-align: middle;
}